.call-to-action {
    background-color: #f1ebe5;
    color: black;
}

.heading-line {
    height: 3px;
    width: 200px;
    background-color: #83F3ED;
}

.programm i {
    font-size: 2rem;
    color: #83F3ED;
}

.dark {
    background-color: #011627;
    color: #83F3ED;
    min-height: 300px;
}

.tech-img {
    object-fit: cover;
    min-height: 300px;
}

.footer {
    background-color: #f1ebe5;
    color: black;
}

.contacts {
    background-color: #f1ebe5;
    color: black;
}

.back-img {
    height: 58px;
    background-image: url(sources/шапка\ фото\ салона\ 1.jpg)
}

.btn-custom {
    background-color: #f1ebe5;
}

.btn-custom:hover {
    background-color: #7e7a78;
    color: #f1ebe5;
}

.card img {
    height: 350px;
    object-fit: cover;
}

.badge {
    background-color: #f1ebe5;
    opacity: 0.8;
    color: black;
}